@model VetClinicWbClient.Models.PetModel
@{
    ViewData["Title"] = "Профиль питомца";
}

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Вид</td>
        <td>Порода</td>
        <td>Пол</td>
    </tr>
    @foreach (var pet in ViewBag.pets)
    {
        if (pet.PetId == pet.Id)
        {
<tr>
    <td>@pet.PetName</td>
    <td>@pet.Age</td>
    <td>@pet.Kind</td>
    <td>@pet.Breed</td>
    <td>@pet.Gender</td>
</tr>
        }
    }
</table>



